/* Formulaire de Contact */
.background-image {
    background-image: url('Page-de-fond-contact.jpg'); /* Remplacez 'votre-image.jpg' par le nom de votre image */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'arrière-plan */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    padding: 2rem; /* Ajoute un peu de padding autour du contenu */}

.formulaire-contact {
    max-width: 600px;
    margin: 8rem auto 2rem;
    padding: 2rem;
    background-color:rgb(255 255 255 / 14%); /* Couleur blanche avec opacité de 0.8 */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.groupe-formulaire {
    margin-bottom: 1.5rem;
}

.groupe-formulaire label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.groupe-formulaire input,
.groupe-formulaire textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgb(221 221 221 / 0%); /* Bordure avec opacité */
    background-color: rgb(255 255 255 / 33%); /* Couleur blanche avec opacité de 0.8 */
    border-radius: 4px;
    font-size: 1rem;
}

.groupe-formulaire textarea {
    height: 150px;
    resize: vertical;
}
/* Centre le bouton dans le formulaire */
.button-container {
    text-align: center; /* Centre le contenu à l'intérieur du conteneur */
}

.btn-envoyer {
    background-color:rgb(230 57 70 / 27%); /* Couleur avec opacité de 0.8 */
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-envoyer:hover {
    background-color: #c1121e6e;
}
