/* Footer */
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px; 
    font-size: 15px;
}


.footer-icons {
    margin-top: 10px;
}

.footer-icons a {
    margin: 0 5px; /* réduit */
    display: inline-block;
}

.footer-icons img {
    width: 80px; /* fixe la taille */
    height: 30px;
    object-fit: contain; /* évite déformation */
    transition: transform 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.2);
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--primary-color);
}

/* Empêche les images de dépasser en responsive */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

html, body {
    overflow-x: hidden;
}
